/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Document level  */

html {
  font-size: 16px;
}

@media (max-width: 900px) {
  html { font-size: 14px; }
}
@media (max-width: 400px) {
  html { font-size: 12px; }
}

/* Document CSS */

.header {
  width: 100%;
  margin: 1vw auto;
  padding: 0 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

#app-header {
  font-size: 3rem;
  font-weight: 700;
  margin: 1vw 0;
  text-align: center;
  font-family: 'Arimo', sans-serif;
}

.nav-section{
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
}


.link {
  font-size: 1rem;
  font-weight: 700;
  margin: 1vw 0;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  text-decoration: none;
  color: black;
}

#root {
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
}



#main {
  display: flex;
  flex-direction: column;
  width: 65%;
  align-items: center;
}


.header p {
  margin: 20px auto;
  width: 60%;
}

#modal-header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}


#about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.about-header {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin: 20px auto;
}

.about-paragraph {
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 1rem;
  text-align: left;
}

.link-span {
  color: black;
  width: 100%;
  text-align: left;
  padding: 1rem;
  box-sizing: border-box;
}

.about-link {
  color: black;
}

#modal-close {
  padding: 1rem;
  margin: 1rem auto;
  align-self: center;
  border-radius: 1rem;
  background-color: rgb(124, 255, 85);
}

/* Left side nav static */

#left-sidenav {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px 5px 20px 40px;
}


.user-options-paragraph {
  margin: 10px 0;
}


.search-div {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items:initial;
  justify-content: space-between;
}

.asset-input-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#asset-input {
  font-size: 17px;
  width: 60%;
  border: 1px solid lightgray;
  padding: 6px 10px;
  border-radius: 6px;
  margin: 15px 0;
  box-sizing: border-box;
}

/* Right side nav static */


#right-sidenav {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px 40px 20px 5px;
}


/* Nav Containers dynamic rendering*/

#about-chart h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

#about-chart ul {
  margin-top: 20px;
  list-style: circle inside;
}

.chart-bullet {
  margin: 10px 0;
  font-size: 16px;
}

#chart-metrics h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

#chart-metrics ul {
  list-style: none;
}

.chart-metrics {
  margin: 10px 0;
  font-size: 16px;
}

#detailed-metrics {
  margin-top: 10px;
}

#detailed-metrics h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

.chart-detailed-metrics {
  margin: 5px 0;
}

/* Treemap */

#svg-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  width: 60%;
  margin: auto;
}

#svg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 5px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: sticky;
  height: 10%;
}

.social {
  height: 5rem;
  width: 5rem;
}

.fab, .far {
  height: 100%;
  width: 100%;
}

.icon {
  height: 5rem;
  width: 5rem;
}

rect {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map*/