/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Variables */

:root {
  --blue-crayola: #2176ff;
  --vermilion: #e03616;
  --blue-jeans: #33a1fd;
  --rich-black: #040303;
  --emerald: #62c370;
}

/* Document level  */

html {
  font-size: 16px;
  color: var(--rich-black);
  font-family: 'Arimo', sans-serif;
}

@media (max-width: 900px) {
  html { font-size: 14px; }
}
@media (max-width: 400px) {
  html { font-size: 12px; }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Document CSS */

.header {
  width: 100%;
  margin: 1rem auto;
  padding: 0 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

#app-header {
  font-size: 3rem;
  font-weight: 700;
  margin: 1vw 0;
  text-align: center;
  font-family: 'Arimo', sans-serif;
}

.nav-section{
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
}

.link {
  font-size: 1rem;
  font-weight: 700;
  margin: 1vw 0;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  text-decoration: none;
  color: var(--rich-black);
}

#root {
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
}

#main {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 65%;
  align-items: center;
}

.svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.g {
  margin: 0 auto;
}

.header p {
  margin: 20px auto;
  width: 60%;
}

/* Left side nav static */

#left-sidenav {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px 5px 20px 40px;
}

#about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.about-header {
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  margin: 20px auto;
}

.user-options-paragraph {
  margin: 10px 0;
}


.search-div {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items:initial;
  justify-content: space-between;
}

.asset-input-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#asset-input {
  font-size: 17px;
  width: 60%;
  border: 1px solid lightgray;
  padding: 6px 10px;
  border-radius: 6px;
  margin: 15px 0;
  box-sizing: border-box;
}

/* Right side nav static */


#right-sidenav {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px 40px 20px 5px;
}


/* Modal */

#modal-header {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.about-header {
  font-size: 1rem;
}

.about-paragraph {
  font-size: 1rem;
  line-height: 1.3rem;
  margin: 1rem auto;
}

.link-span {
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
}

.about-link {
  color: var(--rich-black);
}

#modal-close {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--emerald);
  transition: all 0.5s;
}

#modal-close:hover {
  background-color: var(--vermilion);
}

.close-link {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.social-media {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255))
}

.icon {
  color: var(--emerald);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.5s;
}

.icon:hover {
  background-color: var(--blue-crayola);
  color: white;
}

/* Media Queries */


@media (max-width: 1300px) {

  #root {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #left-sidenav {
    width: 80%;
  }

  #main {
    width: 90%;
    align-items: flex-start;
  }

  #right-sidenav {
    width: 50%;
  }
}
/* Nav Containers dynamic rendering*/

#about-chart h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

#about-chart ul {
  margin-top: 20px;
  list-style: circle inside;
}

.chart-bullet {
  margin: 10px 0;
  font-size: 16px;
}

#chart-metrics h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

#chart-metrics ul {
  list-style: none;
}

.chart-metrics {
  margin: 10px 0;
  font-size: 16px;
}

#detailed-metrics {
  margin-top: 10px;
}

#detailed-metrics h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

.chart-detailed-metrics {
  margin: 5px 0;
}

/* Treemap */

#svg-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  width: 60%;
  margin: auto;
}

#svg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 5px;
  width: fit-content;
  height: fit-content;
}

rect {
  cursor: pointer;
}

.subreddit-text {
  color: var(--rich-black);
  font-size: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  height: fit-content;
  width: fit-content;
}

.metric-cell {
  padding: 0.25rem 0;
  padding-right: 0.5rem;
}

/*# sourceMappingURL=main.css.map*/